<!-- Background Image -->
<div class="polka"></div>

<!-- Nav Bar  -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <h1 class="animated animatedTime fadeInLeft sigSty">Backend - Tyler Wasden<br>&emsp;&emsp;&emsp;Frontend - Adam Pendery</h1>
    <div class="namelogo">&nbsp;</div>
    <div class="friendly">A friendly little app that answers in song lyrics!</div>
    </div>
  </div>
</nav>







<!-- Transparent Robot img -->
<div class="retrorobot">&nbsp;</div>


  <% if @messages.count > 1 %>
  <% @messages.each do |m| %>

  <!-- Class chatbubblesty 1 & 2 refers to chatbubble style -->
<div class="">
  <%= m.sender == 1 ? ("<span class='chatbubblesty2 shadow'><strong>Truth Seeker</strong>" + ": " + m.try(:text).to_s + "</span>").html_safe : ("<span class='chatbubblesty shadow'><strong>Chat_bot</strong>" + ": " + m.try(:text).to_s + "</span>").html_safe%>
</div>

    <br>
    <br>
  <% end %>
<% end %>
<%= link_to "Delete", @message, :method => :delete %>
<div class="shadow2">
<%= form_tag("/chat_room", method: "post") do %>
  <%= text_field_tag(:q, "", autofocus: true)  %>
  <%= submit_tag("talk") %>
<% end %>
</div>
<br>
<br>
<br>
<br>
<br>
